*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #eee;
}
.box{
    width: 200px;
    height: 200px;
    border-radius: 3px;
    background-color: rgb(7, 214, 17);
}
.box--big{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(20, 111, 214);
}

 /* 下面这个样式没使用过，不会被打包 */
.box--small{
    width: 100px;
    height: 100px;
    border-radius: 2px;
    background-color: rgb(197, 211, 9);
}

/* 图片处理 */
.box_img{
    width: 400px;
    height: 400px;
}

.box_img div{
    width: 100px;
    height: 100px;
}

.box_img .ani1 {
    background: url(./../assets/imgs/1.png) no-repeat;
}

.box_img .ani2 {
    background: url(./../assets/imgs/2.png) no-repeat;
}

.box_img .ani3 {
    background: url(../assets/imgs/3.png) no-repeat;
}